:root {
  --turquesa: rgb(0, 203, 206);
  --azul: rgb(19, 21, 66);
  --violeta: rgb(75, 11, 208);
  --rosa: rgb(203, 136, 254);
  --fucsia1: rgb(239, 61, 201);
  --fucsia2: rgb(227, 51, 150);
  --titlefont: "stretchpro";
  --textpage: corbel;
}
